# Python
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Local env
.env
.env.local
frontend/.venv/
.ngrok-url
docs/
article/